<div class="card">
	<div class="card-content">
		<span class="card-title activator">{{titleCard}}
			<i class="material-icons right">more_vert</i>
		</span>
		<ng-content></ng-content>
	</div>
	<div class="card-reveal">
		<span class="card-title">{{titleSubCard}}
			<i class="material-icons right">close</i>
		</span>
		<table>
			<thead>
				<tr>
					<th *ngFor="let header of headerTable">
						{{header}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let body of bodyTable">
					<td *ngFor="let item of body">
						{{item}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>