<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<form>
				<div class="card-content">
					<div class="row">
						<h4>Adicionar categoria</h4>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="nameCategoria" class="validate" type="text">
							<label for="nameCategoria">Nome categoria</label>
						</div>
					</div>
					<button type="submit" class="btn right green darken-2 waves-effect waves-light">Salvar categoria</button>
				</div>
			</form>
		</div>
	</div>
</div>