<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<form>
				<div class="card-content">
					<div class="row">
						<h4>Adicionar planejamento</h4>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="nomePlanejamento" class="validate" type="text">
							<label for="nomePlanejamento">Nome planejamento</label>
						</div>
						<div class="input-field col s12">
							<select class="validate" name="tipoPlanejamento">
								<option value="" disabled selected>Selecione uma opção</option>
								<option *ngFor="let tipo of tipoPlanejamento" value="{{tipo.id}}">{{tipo.name}}</option>
							</select>
							<label>Tipo de planejamento</label>
						</div>
						<div class="input-field col s6">
							<label for="dataInicio">Data inicio planejamento</label>
							<input class="datepicker" id="dataInicioPlanejamento" type="text">
						</div>
						<div class="input-field col s6">
							<label for="dataFimPlanejamento">Data final planejamento</label>
							<input class="datepicker" id="dataFimPlanejamento" type="text">
						</div>
						<div class="input-field col s12">
							<input id="valorMetaPlanejamento" class="validate" type="number">
							<label for="valorMetaPlanejamento">Valor meta planejamento</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6">
			<div class="card-panel">
				<div class="row">
					<a class="dropdown-trigger btn right green darken-2 waves-effect waves-light" data-target="adicionarContas">Adicionar conta</a>
					<ul id="adicionarContas" class="dropdown-content">
						<li><a>Conta existente</a></li>
						<li><a (click)="adicionarOcultarConta()">Nova conta</a></li>
					</ul>
					<!--<button class="btn left green darken-2 waves-effect waves-light">Adicionar conta existente</button>
					<button class="btn right green darken-2 waves-effect waves-light" (click)="adicionarOcultarConta()">Adicionar nova conta</button> -->
				</div>
				<div class="card-content">
					<form-conta *ngIf="adicionarConta" adicionarLista="true" (lista)="adicionarItemConta($event)"></form-conta>
					<table *ngIf="!adicionarConta">
						<thead>
							<tr>
								<th>Contas</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let conta of contaPlanejamento">
								<td>{{conta.nome}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
		<div class="col s12 l6">
			<div class="card-panel">
				<div class="row">
					<div class="col s12 l2 right">
						<button class="btn right green darken-2 waves-effect waves-light" *ngIf="!adicionarGasto" (click)="adicionarOcultarGasto()">Adicionar gasto</button>
						<button class="btn right green darken-2 waves-effect waves-light" *ngIf="adicionarGasto" (click)="adicionarOcultarGasto()">Cancelar</button>
					</div>
				</div>
				<form-gasto *ngIf="adicionarGasto" adicionarLista="true" (lista)="adicionarItemGasto($event)"></form-gasto>
				<table *ngIf="!adicionarGasto">
					<thead>
						<tr>
							<th>Gastos</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let gasto of gastoPlanejamento">
							<td>{{gasto.nome}}</td>
							<td>{{gasto.valor}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<canvas baseChart
				[datasets]="chartData" 
				[labels]="chartLabels" 
				[options]="chartOptions" 
				[legend]="chartLegend" 
				[chartType]="chartType" 
				[colors]="chartColors"
				(chartHover)="chartHovered($event)" 
				(chartClick)="chartClicked($event)">
			</canvas>
		</div>
	</div>
</div>