<div class="row">
	<div class="col s12 l4">
		<card-basic titleCard="Gastos" icone="attach_money">
			<span>9 novos gastos na ultima semana</span>
		</card-basic>
	</div>
	<div class="col s12 l4">
		<card-basic titleCard="Rendas" icone="attach_money">
			<span>9 novos gastos na ultima semana</span>
		</card-basic>
	</div>
	<div class="col s12 l4">
		<card-basic titleCard="Orçamento" icone="attach_money">
			<span>9 novos gastos na ultima semana</span>
		</card-basic>
	</div>
</div>
<div class="row">
	<div class="col s12 l6">
		<card-reveal titleCard="Gasto diário" [itensDetalhe]="itensDiario" [headerTable]="headerTable" [bodyTable]="bodyDiario">
			<p style="margin-top:7em;margin-bottom:7em;">
				<span>Valor total gasto diário: R$ 100,00</span>
			</p>
		</card-reveal>
	</div>
	<div class="col s12 l6">
		<card-reveal titleCard="Gasto mensal" [itensDetalhe]="itensMensal" [headerTable]="headerTable" [bodyTable]="bodyMensal">
			<p style="margin-top:7em;margin-bottom:7em;">
				<span>Valor total gasto mensal: R$ 2000,00</span>
			</p>
		</card-reveal>
	</div>
</div>