<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<h4>Ultimos Gastos</h4>
				</div>
				<div class="row">
					<div class="col s12">
						<ul class="collection with-header">
							<li class="collection-item" *ngFor="let gasto of gastoCadastrada">
								<div>
									<span>{{gasto.date}} - {{gasto.name}}</span>
									<span  class="right">{{gasto.value | currency:'BRL':true:'2.2-4'}}</span>
									<!--<a class="secondary-content" [routerLink]="['/conta/detalhe']">-->
									<!--<a class="secondary-content">
										<i class="material-icons">send</i>
									</a>-->
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red darken-4" [routerLink]="['/gasto/cadastro']">
		<i class="material-icons">add</i>
	</a>
</div>