<header class="navbar-fixed">
	<nav>
		<div class="nav-wrapper light-green darken-4">
			<a [routerLink]="['/']" class="brand-logo">
				<!--<span><i class="material-icons">attach_money</i>Controle de gastos</span>-->
				<span class="light-green-text text-lighten-5">Controle de gastos</span>
			</a>
			<a href="#" data-target="mobile-menu" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a [routerLink]="['/conta']">Conta</a></li>
				<li><a [routerLink]="['/gasto']">Gasto</a></li>
				<li><a [routerLink]="['/categoria']">Categoria</a></li>
				<li><a [routerLink]="['/planejamento']">Planejamento</a></li>
				<li><a [routerLink]="['/']">Logout</a></li>
			</ul>
		</div>
	</nav>
</header>
<ul id="mobile-menu" class="sidenav">
	<li><a class="sidenav-close" [routerLink]="['/conta']">Conta</a></li>
	<li><a class="sidenav-close" [routerLink]="['/gasto']">Gasto</a></li>
	<li><a class="sidenav-close" [routerLink]="['/categoria']">Categoria</a></li>
	<li><a class="sidenav-close" [routerLink]="['/planejamento']">Planejamento</a></li>
</ul>