<header>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">
				Logo
			</a>
			<a href="#" data-target="mobile-menu" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a [routerLink]="['/renda']">Renda</a></li>
				<li><a [routerLink]="['/gasto']">Gasto</a></li>
				<li><a [routerLink]="['/renda/cadastro']">Link 3</a></li>
				<li><a [routerLink]="['/#']">Link 4</a></li>
			</ul>
			<ul id="mobile-menu" class="sidenav">
				<li><a [routerLink]="['/renda']">Renda</a></li>
				<li><a [routerLink]="['/gasto']">Gasto</a></li>
				<li><a [routerLink]="['/renda/cadastro']">Link 3</a></li>
				<li><a [routerLink]="['/#']">Link 4</a></li>
			</ul>
		</div>
	</nav>
</header>