<div class=" col s12">
	<div class="card-panel">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="nameRenda" class="validate" type="text">
					<label for="nameRenda">Nome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select [(ngModel)]="tipoRendaAtual" name="tipoRendaAtual" class="validate">
						<option value="" disabled selected>Selecione uma opção</option>
						<option *ngFor="let tipo of tipoRenda" value="{{tipo.id}}">{{tipo.name}}</option>
					</select>
					<label>Tipo de renda</label>
				</div> 
			</div>
			<div class="row" *ngIf="tipoRendaAtual == 1">
				<div class="input-field col s12">
					<input id="limiteCartao" class="validate" type="number">
					<label for="limiteCartao">Limite cartão</label>
				</div>
			</div>
			<div class="row" *ngIf="tipoRendaAtual == 2">
					<div class="input-field col s12">
						<input id="valorInicialRenda" class="validate" type="number">
						<label for="valorInicialRenda">Valor inicial da renda</label>
					</div>
				</div>
			<div class="row" *ngIf="tipoRendaAtual == 3 || tipoRendaAtual == 4">
				<div class="input-field col s12">
					<input id="valorMensal" class="validate" type="number">
					<label for="valorMensal">Valor Mensal</label>
				</div>
			</div>
			<button type="submit" class="btn right">Salvar renda</button>
		</form>
	</div>
</div>